<style>
    body {
        background: #999999;
    }
    .container {
        margin-top: 10px;
    }

    img {
        border-radius: 5px;
        margin: auto;
        display: block;
        height:500px;
    }

    .hero-unit {
        padding:30px;
        margin:auto;
        margin-top:5px;
        width: 412px;
    }
</style>